/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
    // Keyframes
    /*@keyframes borderShake {
        0%,
        100% {
            transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
            transform: translateY(-8px);
        }
    
        20%,
        40%,
        60% {
            transform: translateY(8px);
        }
    
        80% {
            transform: translateY(6.4px);
        }
    
        90% {
            transform: translateY(-6.4px);
        }
    }*/
// Theme
    // Colors :
    $very-dark-grey: #151515;
    $neon-green : #4EE1A0;
    $dark-grey : #242424;
    $light-grey : #D9D9D9;
    $white: #FFFFFF;
    // Typography :
        // Fonts
        @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');
        // Typography class - to extend
        .__heading{
            // Text format
            &--mobile{
                font-family: 'Space Grotesk', sans-serif;
                font-weight: 700;
                font-size: 40px;
                line-height: 100%;
                letter-spacing: -1.14px;
                color: $white;
            }
            &--m{
                font-family: 'Space Grotesk', sans-serif;
                font-weight: 700;
                font-size: 24px;                    
                line-height: 32px;
                color: $white;
            }
            &--l{
                font-family: 'Space Grotesk', sans-serif;
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                letter-spacing: -1.5px;
                color: $white;
            }
            &--xl{
                font-family: 'Space Grotesk', sans-serif;
                font-weight: 700;
                font-size: 88px;
                line-height: 88px;
                letter-spacing: -2.5px;
                color: $white;
            }
        }
        .__parapraph{
            font-family: 'Space Grotesk', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: $light-grey;
        }
        // Buttons
        .__contact-btn{
            a{
                text-transform: uppercase;
                text-decoration: none;
                @extend .__parapraph;
                transition: 400ms ease-in-out;
            }
            .underline-btn{
                height: 2px;
                width: 100%;
                background-color: $neon-green;transition: 400ms ease-in-out;
            }
            &:hover{
                a{
                    color: $neon-green;
                }
                .underline-btn{
                    background-color: $white;
                    transform: translateY(-28px);
                }
            }
        }
        
        // Grid
        .__grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: 1fr;
            justify-items: center;
            &--child{
                text-align: center;
            }
        }
        // Form
        .__input{
            background: none;
            border: none;
            border-radius: 0;
            outline: none;
            border-bottom: 1px solid $white;

            margin-bottom: 32px;

            padding-left: 24px;
            padding-bottom: 16px;

            height: 43px;
            width: 100%;
            @extend .__parapraph;
            &::placeholder{
                @extend .__parapraph;
            }
            &--message{
                height: 107px;
                padding-bottom: 81px;
            }
            &:focus{
                border-bottom: 3px solid $neon-green;
                transition: 100ms ease-in-out;
                /*animation: borderShake 5s ease-in-out 1s infinite normal forwards;*/
            }
        }
        .__form--btn{
            padding-left: 0;
            padding-right: 0;
            border: none;
            border-bottom: 2px solid $neon-green;
            background: none;
            transition: 400ms ease-in-out;
            @extend .__parapraph;
            text-transform: uppercase;
            &:hover{
                color: $neon-green;
            }
        }

// Page style
body{
    background-color: $very-dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}
// Navbars
header{
    z-index: 2;
}
.navbar{
    height: 72px;
    width: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &--top{
        margin-top: 20px
    }
    &--bottom{
        margin: 20px auto 30px auto
    }
    &__heading{
        @extend .__heading--m;
    }
}
.social-icons-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.social-icon{
    height: 19px;
    width: 19px;
    transition: ease-in-out 400ms;
    &:hover{
        filter: invert(25%) sepia(19%) saturate(1277%) hue-rotate(96deg) brightness(110%) contrast(86%);
    }
}
.image-profile{
    width: 174px;
    height: 383px;
    z-index: 1;
    margin-top: -100px;
    background-image: url('/assets/images/image-profile-mobile.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
//---------------------
// Welcome division
#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome{
    &__heading--l{
        @extend .__heading--mobile;
        text-align: center;
        margin-top: 40px;
    }
    &__paragraph{
        @extend .__parapraph;
        text-align: center;
        margin: 24px 0 24px 0;
    }
    &__contact-btn{
        @extend .__contact-btn;
    }
}
.underline-span{
    border-bottom: 4px solid $neon-green;
}
.separation-line{ /* Ligne de séparation */
    height: 1px;
    width: 90%;
    background-color: $white;
    &--first{
        margin: 80px auto 40px auto;
    }
    &--second{
        margin: 40px auto 80px auto;
    }
    &--third{
        margin: 87px auto 39px auto;
    }
}
#skills{ /* Skills division */
}
.skills{
    &__grid{
        @extend .__grid;
        row-gap: 24px;
        &--child{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__heading{
        &--mobile{
            @extend .__heading--mobile;
        }
    }
    &__paragraph{
        @extend .__parapraph;
    }
}
//---------------
//Projects division
#projects{
    margin-bottom: 80px;
}
.projects{
    width: 100%;
    &__headbar{
        padding: 0 16px 0 16px;
        margin-bottom: 40px;
        width: 375px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__heading{
        &--mobile{
            @extend .__heading--mobile;
        }
    }
    &__contact-btn{
        @extend .__contact-btn;
    }
    &__grid{
        @extend .__grid;
        row-gap: 50px;
        &--child{
            display: flex;
            flex-direction: column;

        }
    }
    &__miniature{
        &--mobile{
            height: 253px;
            width: 345px;
        }
    }
    &__subtitles{
        @extend .__heading--mobile;
        text-transform: uppercase;
        font-weight: 500;
        font-size: larger;
        margin: 20px 0 7px 0;
    }
    &__description{
        @extend .projects__subtitles;
        display: flex;
        font-size: 18px;
        color: $light-grey;
        p{
            margin: 0 18px 20px 0;
        }
    }
    &__access-btns{
        display: flex;
        flex-direction: row;
        &--items{
            @extend .__contact-btn;
            margin-right: 32px;
        }
    }
}
// Footer & Contact
#contact{
    height: auto;
}
footer{
    width: 100%;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    margin-top: 60px;
    padding: 0 16px 0 16px;
    &__heading{
        &--mobile{
            @extend .__heading--mobile;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__paragraph{
        @extend .__parapraph;
        text-align: center;
    }
    &__form{
        margin-top: 50px;
        &--inputname{
            @extend .__input;
        }
        &--inputmail{
            @extend .__input;
        }
        &--inputmessage{
            @extend .__input;
            @extend .__input--message;
        }
        &--btn{
            @extend .__form--btn;
            margin-left: 66%;
        }
    }
}
// Partterns
    // Rings
    .pattern-ring{
        position: absolute;
        height: 130px;
        width: 530px;
        background-image: url("/assets/images/pattern-rings.svg");
        background-repeat: no-repeat;
        &__first{
            top: 125px;
            right: 50%;
        }
        &__second{
            top: 1260px;
            left: 50%;
            width: 186px;
        }
        &__third{
            top: 4610px;
            right: 50%;
        }
    }
    // Circle
    .pattern-circle{
        position: absolute;
        height: 130px;
        width: 130px;
        background-image: url('/assets/images/pattern-circle.svg');
        background-repeat: no-repeat;
        &__first{
            right: 0px;
            top: 255px;
            width: 65px;
        }
    }

@media only screen and (min-width : 767px) {
    // Tablet design
    header{
        width: 100%;
    }
    .navbar{
        width: 90%;
        flex-direction: row;
        margin-left: 30px;
    }
    .social-icons-menu{
        width: 20%;
    }
    .image-profile{
        height: 600px;
        width: 322px;
        background-image: url('https://yoannbdn.github.io/challenge-portfolio/assets/images/image-profile-tablet.webp');
        position: relative;
        left: 29%;
    }

    // Welcome div (Tablet)
    #welcome{
        position: absolute;
        z-index: 3;
        top: 10%;
        align-items: center;
        margin: 0 29% 0 30px;
    }
    .welcome{
        &__heading{
            text-align: left;
            &--xl{
                font-family: 'Space Grotesk', sans-serif;
                font-weight: 700;
                font-size: 88px;
                line-height: 88px;
                letter-spacing: -2.5px;
                color: $white;
            }
        }
        &__paragraph{
            text-align: start;
            margin-right: 10%;
        }
    }

    // Skils div (Tablet)
    .skills{
        &__grid{
            width: 90%;
            grid-template-columns: 1fr 1fr;
            row-gap: 52px;
            column-gap: 0;
            justify-items: baseline;
            &--child{
                align-items: baseline;
            }
        }
    }

    // Projects div (tablet)
    .projects{
        &__headbar{
            width: 100%;
            padding: 0;
        }
        &__grid{
            width: 100%;
            grid-template-columns: 1fr 1fr;
            column-gap: 14px;
        }
    }

    //Footer & contact (tablet)
    .contact{
        width: 445px;
    }

    //Patterns (Tablet)
    .pattern-ring{
        z-index: 3;
        &__first{
            top: 86px;
            left: -30%;
        }
        &__second{
            top: 950px;
            left: 581px;
        }
        &__third{
            top: 3060px;
            right: 606px;
        }
    }
    .pattern-circle{
        &__first{
            z-index: 3;
            top: 464px;
        }
    }
}