@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.__heading--mobile, .contact__heading--mobile, .projects__subtitles, .projects__description, .projects__heading--mobile, .skills__heading--mobile, .welcome__heading--l {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -1.14px;
  color: #FFFFFF;
}
.__heading--m, .navbar__heading {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
.__heading--l {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
  color: #FFFFFF;
}
.__heading--xl {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.__parapraph, .contact__paragraph, .skills__paragraph, .welcome__paragraph, .__contact-btn a, .projects__access-btns--items a, .projects__contact-btn a, .welcome__contact-btn a {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #D9D9D9;
}

.__contact-btn a, .projects__access-btns--items a, .projects__contact-btn a, .welcome__contact-btn a {
  text-transform: uppercase;
  text-decoration: none;
  transition: 400ms ease-in-out;
}
.__contact-btn .underline-btn, .projects__access-btns--items .underline-btn, .projects__contact-btn .underline-btn, .welcome__contact-btn .underline-btn {
  height: 2px;
  width: 100%;
  background-color: #4EE1A0;
  transition: 400ms ease-in-out;
}
.__contact-btn:hover a, .projects__access-btns--items:hover a, .projects__contact-btn:hover a, .welcome__contact-btn:hover a {
  color: #4EE1A0;
}
.__contact-btn:hover .underline-btn, .projects__access-btns--items:hover .underline-btn, .projects__contact-btn:hover .underline-btn, .welcome__contact-btn:hover .underline-btn {
  background-color: #FFFFFF;
  transform: translateY(-28px);
}

.__grid, .projects__grid, .skills__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 1fr;
}
.__grid--child {
  text-align: center;
}

.__input, .contact__form--inputmessage, .contact__form--inputmail, .contact__form--inputname {
  background: none;
  border: none;
}

body {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

header {
  z-index: 2;
}

.navbar {
  height: 72px;
  width: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar--top {
  margin-top: 20px;
}
.navbar--bottom {
  margin: 20px 0 30px 0;
}
.social-icons-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  height: 19px;
  width: 19px;
  transition: ease-in-out 400ms;
}
.social-icon:hover {
  filter: invert(25%) sepia(19%) saturate(1277%) hue-rotate(96deg) brightness(110%) contrast(86%);
}

.image-profile {
  width: 174px;
  height: 383px;
  z-index: 1;
  position: relative;
  top: -50px;
}

#welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__heading--l {
  text-align: center;
  margin-top: 40px;
}
.welcome__paragraph {
  text-align: center;
  margin: 24px 0 24px 0;
}
.underline-span {
  border-bottom: 4px solid #4EE1A0;
}

.separation-line { /* Ligne de séparation */
  height: 1px;
  width: 90%;
  background-color: #FFFFFF;
  margin: 40px 0 80px 0;
}

#skills { /* Skills division */ }

.skills__grid {
  row-gap: 24px;
}
.skills__grid--child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects {
  margin-bottom: 80px;
}

.projects {
  width: 100%;
}
.projects__headbar {
  padding: 0 16px 0 16px;
  margin-bottom: 40px;
  width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.projects__grid {
  row-gap: 50px;
}
.projects__grid--child {
  display: flex;
  flex-direction: column;
}
.projects__miniature--mobile {
  height: 253px;
  width: 345px;
}
.projects__subtitles, .projects__description {
  text-transform: uppercase;
  font-weight: 500;
  font-size: larger;
  margin: 20px 0 7px 0;
}
.projects__description {
  display: flex;
  font-size: 18px;
  color: #D9D9D9;
}
.projects__description p {
  margin: 0 18px 20px 0;
}
.projects__access-btns {
  display: flex;
  flex-direction: row;
}
.projects__access-btns--items {
  margin-right: 32px;
}

footer {
  background-color: #242424;
}

.contact {
  margin-top: 60px;
  padding: 0 16px 0 16px;
}
.contact__heading--mobile {
  text-align: center;
  margin-bottom: 20px;
}
.contact__paragraph {
  text-align: center;
}
.contact__form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pattern-ring {
  position: absolute;
  height: 130px;
  width: 530px;
}
.pattern-ring__first {
  top: 125px;
  left: -50%;
}

.pattern-circle {
  position: absolute;
  height: 130px;
  width: 130px;
}
.pattern-circle__first {
  right: -20%;
  top: 255px;
}

/*# sourceMappingURL=style.css.map */
